# apiToken [Required if secretRef is not set] - Must be a Linode APIv4 Personal Access Token with all permissions. (https://cloud.linode.com/profile/tokens)
apiToken: ""

# region [Required if secretRef is not set] - Must be a Linode region. (https://api.linode.com/v4/regions)
region: ""

# Set these values if your APIToken and region are already present in a k8s secret.
# secretRef:
#   name: "linode-ccm"
#   apiTokenRef: "apiToken"
#   regionRef: "region"

# Ensures the CCM runs on control plane nodes
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists

# DEPRECATED: use affinity instead
nodeSelector: {}

securityContext:
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL

# Image repository must be 'linode/linode-cloud-controller-manager'. The tag can be changed/set to various ccm versions.
# The pullPolicy is set to Always but can be changed when it is not required to always pull the new image
image:
  repository: linode/linode-cloud-controller-manager
  tag:  # only set if required, defaults to .Chart.AppVersion set during release or "latest" by default
  pullPolicy: Always

# Default namespace is "kube-system" but it can be set to another namespace
namespace: "kube-system"

# Set of default tolerations
tolerations:
 # The CCM can run on Nodes tainted as masters
  - key: "node-role.kubernetes.io/control-plane"
    effect: "NoSchedule"
  # The CCM is a "critical addon"
  - key: "CriticalAddonsOnly"
    operator: "Exists"
  # This taint is set on all Nodes when an external CCM is used
  - key: node.cloudprovider.kubernetes.io/uninitialized
    value: "true"
    effect: NoSchedule
  - key: node.kubernetes.io/not-ready
    operator: Exists
    effect: NoSchedule
  - key: node.kubernetes.io/unreachable
    operator: Exists
    effect: NoSchedule

# Options for LoadBalancers backed by shared IPs instead of NodeBalancers
# sharedIPLoadBalancing:
#   loadBalancerType: cilium-bgp
#   bgpNodeSelector: <node label (e.g. cilium-bgp-peering=true)>
#   ipHolderSuffix: <cluster name or other identifier (e.g. myclustername1)>

# This section adds ability to enable route-controller for ccm
# routeController:
#   vpcName: <name of VPC> [Deprecated: use vpcNames instead]
#   vpcNames: <comma separated list of vpc names>
#   subnetNames: <comma separated list of subnet names>
#   clusterCIDR: 10.0.0.0/8
#   configureCloudRoutes: true

# vpcs and subnets that node internal IPs will be assigned from (not required if already specified in routeController)
# vpcName: <name of VPC> [Deprecated: use vpcNames instead]
# vpcNames: <comma separated list of vpc names>
# subnetNames: <comma separated list of subnet names>

# Enable Linode token health checker
# tokenHealthChecker: true

# This section adds the ability to pass environment variables to adjust CCM defaults
# https://github.com/linode/linode-cloud-controller-manager/blob/master/cloud/linode/loadbalancers.go
# LINODE_HOSTNAME_ONLY_INGRESS type bool is supported
env:
#  - name: EXAMPLE_ENV_VAR
#    value: "true"

# Linode tags to apply to all NodeBalancers
nodeBalancerTags: []

# This section adds the ability to pass volumes to the CCM DaemonSet
volumes:
#  - name: test-volume
#    emptyDir:
#      sizeLimit: 500Mi

# this section adds the ability to pass volumeMounts to the CCM container
volumeMounts:
#  - mountPath: /tmp/
#    name: test-volume

# This flag allows to scrape /metrics endpoint without authorization
allowUnauthorizedMetrics: false
